/* Selector */
body {
  background-color: lightgray;
}

img.godfather {
  width: 200px
}

h1 {
  /* font verdana storlek 1.7rem , */
  font-family: verdana,
    sans-serif;
  font-size: 1.7rem;
  color: red;
}

p {
  font-family: verdana,
    sans-serif;
  color: darkgray;
  font-size: 1.2rem;
  color: yellow;
}

/*
h1: är 32px
p: 16px

html : 16px
*/